body {
    font-family: Times, "Times New Roman", Georgia, serif;
}

header section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

header {
    text-indent: 2em;
}

header p {
    font-size: smaller;
    text-indent: 4em;
    line-height: 60px;
}

header img {
    width: 100px;
}